@using CRUD_Application_C__Assessment.Views.Companies;
@model CRUD_Application_C__Assessment.Models.CompaniesModel
@{
}

<h1 class="display-4">Edit Companies Page</h1>
<div>
     <form method="POST">
        <div>Name</div>
        <input id="name" name="name" value="@Model.Name" required>
        <div>Email</div>
        <input id="email" name="email" value="@Model.Email" required>
        <div>Logo</div>
        <input id="name" name="logo" value="@Model.Logo" required>
        <div>Website</div>
        <input id="name" name="website" value="@Model.Website" required>
        <button type="submit">Update</button>
     </form>
</div>
