@page
@using CRUD_Application_C__Assessment.Views.Companies
@model CRUD_Application_C__Assessment.Views.Companies.CompaniesModel
@{
    
}

<div class="text-center">
    <h1 class="display-4">Companies Page</h1>
    <div>
        View:
        <div>
            <a href="/companies/1">
                    @ViewBag.Name <br />
                    @ViewBag.Email <br />
                    @ViewBag.Logo <br />
                    @ViewBag.Website <br />
            </a>
        </div>
        <div><a href="/companies/2">Company 2</a></div>
    </div>
</div>