@page
@model CRUD_Application_C__Assessment.Views.Home.CompaniesModel
@{
    string name = "Company Ltd";
    string email = "email@email.com";
    string logo = "Logo.png";
    string website = "www.genericwebsite.com";
}

<div class="text-center">
    <h1 class="display-4">Companies Page</h1>
    <div>
        View:
        <div>
            <a href="/companies/1">
                    @name <br />
                    @email <br />
                    @logo <br />
                    @website <br />
            </a>
        </div>
        <div><a href="/companies/2">Company 2</a></div>
    </div>
</div>